#contact-info {
    font-family: helvetica, sans-serif;
    max-width: 1000px;
    font-size: 14px;
    line-height: 70%;
    margin-top: 10px;
    margin-bottom: 30px;
    }  

#container {
      max-width: 1000px;
      margin: auto;
      border: 1px dashed rgb(145, 145, 145);
      padding: 30px;
      margin-top: 30px;
      display: block;
    }

#title { 
      font-family: helvetica, sans-serif;
      font-weight: 600;
      font-size: 62px;
      line-height: 88%;
      position: fixed;
      z-index: 5;
      margin-top: 70px;
    }

    @media (max-width: 580px) {
      #title {
      font-family: helvetica, sans-serif;
      font-weight: 600;
      font-size: 36px;
      line-height: 88%;
      position: fixed;
      z-index: 5;
      margin-top: 40px;
      }
    }


h2 { 
      font-family: helvetica, sans-serif;
      font-style: italic;
      font-weight: 100;
      font-size: 17px;
      line-height: 140%;
      position: absolute;
      margin-top: 220px;
      margin-left: 0px;
      z-index: 4;
      max-width: 100%;
      display: block;
      height: auto;
    }

    @media (max-width: 580px) {
      h2 { 
      font-family: helvetica, sans-serif;
      font-style: italic;
      font-weight: 100;
      font-size: 14px;
      line-height: 140%;
      position: absolute;
      margin-top: 120px;
      margin-left: 0px;
      z-index: 4;
      max-width: 100%;
      display: block;
      height: auto;
      }
    }
  
#headline { 
      font-family: helvetica, sans-serif;
      max-width: 90%;
      font-size: 24px;
      line-height: 100%;
      display: block;
      height: auto;
      margin: 0 auto;
      margin-top: 40px;
      margin-bottom: 0px;
      }

#tribute-info {
      width: 100%;
      top: 200px;
      z-index: 3;
      margin: auto;
      display: block;
      }

#copernicus-div {
      width: 100%;
      top: 200px;
      z-index: 3;
      display: block;
      margin: auto;
    }

#coperni-image {
      max-width: 90%;
      display: block;
      height: auto;
      margin: 0 auto;
    }

#coperni-caption {
      font-family: helvetica, sans-serif;
      font-weight: 100;
      font-size: 11px;
      line-height: 170%;
      margin: 10 auto;;
      border-bottom: 1px solid rgb(222, 222, 222);
      max-width: 90%;
      display: block;
      height: auto;
    }

#coperni-life {
      font-family: helvetica, sans-serif;
      font-size: 16px;
      line-height: 22px;
      top: 20px;
      background: white;
      height: auto;
      max-width: 90%;
      border-bottom: 1px solid rgb(222, 222, 222);
      overflow-y: auto;
      overflow-x: hidden;
      margin: 0 auto;
      display: block;
      }


ul { 
      font-family: helvetica, sans-serif;
      font-size: 18px;
      line-height: 170%;
      margin-left: -20px;
      margin-top: 0px;
      margin-bottom: 20px;
    }

.statements {
        font-family: helvetica, sans-serif;
        font-weight: 100;
        font-size: 18px;
        font-style: italic;
        line-height: 32px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-top: 50px;
        margin-bottom: 100px;

    }

    @media (max-width: 580px) {
      .statements {
            font-family: helvetica, sans-serif;
            font-weight: 100;
            font-size: 18px;
            font-style: italic;
            line-height: 32px;
            max-width: 350px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            margin-top: 50px;
            margin-bottom: 100px;
            display: block;

      }
    }

#footnote {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 12px;
      max-width: 90%;
      margin-top: 20px;
      margin: auto;
      display: block;
    }

    @media (max-width: 580px) {
      #footnote {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px;
            max-width: 90%;
            margin-top: 10px;
            display: block;
          }

    }

a:link {
      text-decoration: none;
    }
    
a:visited {
      text-decoration: none;
    }
    
a:hover {
      text-decoration: underline;
    }
    
a:active {
      text-decoration: underline;
    }